<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PlaystationNetworkAPI.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <PlaystationNetworkAPI.Core.Properties.Settings>
      <setting name="US_Collector_ProfileUrl" serializeAs="String">
        <value>http://us.playstation.com/playstation/psn/profiles/{0}/trophies/</value>
      </setting>
      <setting name="US_Collector_GamesUrl" serializeAs="String">
        <value>http://us.playstation.com/playstation/psn/profile/{0}/get_ordered_trophies_data</value>
      </setting>
      <setting name="Common_Collector_Request_UserAgent" serializeAs="String">
        <value>Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 6.0)</value>
      </setting>
      <setting name="Common_Collector_Request_Accept" serializeAs="String">
        <value>text/javascript, text/html, application/xml, text/xml, */*</value>
      </setting>
      <setting name="US_Collector_Request_Referer" serializeAs="String">
        <value>http://us.playstation.com/uwps/PSNTicketRetrievalGenericServlet</value>
      </setting>
      <setting name="US_Collector_PingPageUrl" serializeAs="String">
        <value>http://us.playstation.com/publictrophy/index.htm?onlinename={0}</value>
      </setting>
    </PlaystationNetworkAPI.Core.Properties.Settings>
  </applicationSettings>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
