<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PlaystationNetworkAPI.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PlaystationNetworkAPI.Core.Properties.Settings>
            <setting name="US_Collector_ProfileUrl" serializeAs="String">
                <value>http://us.playstation.com/playstation/psn/profiles/{0}/trophies/</value>
            </setting>
            <setting name="US_Collector_GamesDetailsUrl" serializeAs="String">
                <value>http://us.playstation.com/playstation/psn/profile/{0}/get_ordered_title_details_data</value>
            </setting>
            <setting name="Common_Collector_Request_UserAgent" serializeAs="String">
                <value>Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 6.0)</value>
            </setting>
            <setting name="Common_Collector_Request_Accept" serializeAs="String">
                <value>text/javascript, text/html, application/xml, text/xml, */*</value>
            </setting>
            <setting name="US_Collector_Request_Referer" serializeAs="String">
                <value>http://us.playstation.com/uwps/PSNTicketRetrievalGenericServlet</value>
            </setting>
            <setting name="US_Collector_PingPageUrl" serializeAs="String">
                <value>http://us.playstation.com/publictrophy/index.htm?onlinename={0}</value>
            </setting>
            <setting name="US_Collector_GamesUrl" serializeAs="String">
                <value>http://us.playstation.com/playstation/psn/profile/{0}/get_ordered_trophies_data</value>
            </setting>
        </PlaystationNetworkAPI.Core.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
